.card-unit {
  width: 20%;
  float: left;
}
.card-unit button {
  margin: 1vw;
  display: block;
  width: -webkit-fill-available;
}
.card-unit.hold .card {
  border-color: red;
}
.card {
  font-size: 5vw;
  text-align: center;
  border: 2px solid black;
  border-radius: 1vw;
  padding: 1vw;
  margin: 0 1vw;
  user-select: none;
  position: relative;
}
.card .value {
  position: absolute;
  left: 1rem;
  top: 1rem;
  line-height: 3rem;
}
.card .suit {
  font-size: 8rem;
  line-height: 20vw;
}
.card .suit-♦,
.card .suit-♥ {
  color: red;
}
